
.position-list {
    .position-list__tabel {
        th, td {
            text-align: center; 
            vertical-align: middle; 
        }
    }
}
#vip{
    background: #FBD54E;
    color: #B72025;
}
#Administrator{
    color: #9900ff;
}